body {
    padding-bottom: 100px;
}

.card-header {
    border: 1px solid rgba(0,0,0,.125) !important;
    text-align: left;
}

.pull-right {
    float: right;
}

/**
Most of these will have !important to override default bootstrap styling
**/

.cases .container {
    width: 100%;
}

.cases .quality-gate {
    width: 10%;
    background-color: lightgray;
    border: 1px solid grey;
    border-radius: 3px;
    margin-right: 2px;
    float: left;
    display: block;
    height: 20px;
    text-align: center;
    font-size: 12px;
}

.row {
    padding-bottom: 45px;
}

.library-design {
    font-size: 12px;
}

.quality-gate-name {
    font-size: 10px;
    position: relative;
    text-align: center;
}

.changelog-card {
    z-index: 1 !important;
    margin: 5px;
    float: right;
    top: 90px;
    right: 30px;
    position: absolute !important;
    padding: 15px !important;
    font-size: 13px !important;
}

.changelog-card .row {
    padding-bottom: 0 !important;
}

.changelog-card .row p {
    padding-right: 8px !important;
}

.changelog.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.changelog-table {
    font-size: 13px !important;
}

.pending {
    background-color: #fcc874 !important;
}

.passed {
    background-color: #7BA2D2 !important;
}

.failed {
    background-color: #c42d2d !important;
}

.navbar .input-group {
    width:500px !important;
    margin: auto;
}

.container .project-overview {
    font-size: 13px !important;
}

.project-overview .row {
    padding-bottom: 0 !important;
}

.contact.row {
    padding-bottom: 0 !important;
    font-size: 13px !important;
}

.project-overview b, strong {
    padding-right: 5px;
}

h2, h3 {
    padding: 15px;
}

#internal-table, #external-table {
    font-size: 13px !important;
}

.generic-tables {
    font-size: 12px !important;
}

.qcable-table-donor-case {
    font-size: 13px !important;
    cursor: default !important;
    padding: 3px 6px 3px 6px !important;
}

.fixed-table-pagination, .fixed-table-pagination button, .fixed-table-toolbar input {
    font-size: 14px !important;
}

#internal-table td,
#external-table td {
    cursor: pointer;
    font-size: 0;
    border-radius: 4px;
}

#internal-table .card .card-body,
#external-table .card .card-body {
    font-size: 12px !important;
    padding: 0 !important;
}

.identifier {
    margin: 10px;
    float: left;
    display: inline-block;
}

.case-identifier {
    margin-bottom: 10px;
}

.export.btn-group {
    float: left; !important;
}

.editable-click,
td.editable-click,
td.editable-click:hover {
    text-decoration: none;
    border-bottom: dashed 1px #0088cc !important;
    cursor: pointer !important;
}